<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://t2.tudocdn.net/620790?w=1920" 
            alt="" 
            height="200px"
            srcset=""
        >
    </div>
    <div class="big-card__title">
       <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nulla imperdiet mi elit, eu feugiat justo faucibus ac. 
            Aenean id sodales est. Morbi auctor elit urna, a facilisis ex sodales at.
            Cras blandit enim justo, auctor efficitur dui finibus et.
            Integer tempor mauris orci. Fusce nibh mi, dignissim quis velit sit amet, accumsan aliquam nunc.
            Vivamus a elementum purus, mattis tristique erat.
            </a>
        </p>
    </div>
</div>